// main.scss
//

$brand: #CC0101;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  border: none;
  line-height: 1;
  padding: 0;
}

// PAGE
//
.page {
  opacity: 0;
  margin: 0 auto;
  max-width: 320px;
}
.page--rendered {
  opacity: 1;
}
.secondary-nav,
.section-title {
  font-size: 20px;
  margin-right: 8px;
  margin-left: 8px;
}
.secondary-nav {
  border-bottom: 1px solid #EDEDED;
  margin-top: 12px;
  margin-bottom: 12px;

  a {
    position: relative;
    padding-bottom: 11px; // + 1px bdb
  }
  .sprite--d-chev {
    position: absolute;
    top: -14px; right: -2px;
  }
}
.section-title {}

// Show More (Updates)
.sm-wrap {
  max-height: 1568px;
  overflow: hidden;
}
  .sm-wrap--show-more {
    max-height: 100%;
  }
.smu {
  background-color: #499243;
  border-right: 1px solid #377238;
  border-bottom: 2px solid #295531;
  color: #FFF;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

// Misc
//
.flat-ui {
  display: block;
}

// Short Form article
.sf-01 {
  margin-top: 16px;
}

// London video
.ldn-07 {
  margin-right: 16px;
  margin-left: 16px;
}

// Objects
//

.nav {
  @extend .clearfix;
  list-style: none;
  padding-left: 0;

  > li {
    float: left;
    width: 100%;
  }
  a {
    display: block;
  }
}
.nav--tags {
  border-top: 1px dotted #DDD;
  padding: 8px;

  li {
    color: #767676;
    display: inline;
    font-size: 14px;
    width: auto;

    // First tag
    &:nth-child(2) {
      font-weight: bold;
    }

    // Second tag onwards
    &:nth-child(n+3) {

      a::before {
        color: #767676;
        content: "•";
        display: inline;
        margin-right: 8px;
      }
    }
  }
  a {
    color: $brand;
    padding: 0 4px;

    strong {
      background-color: $brand;
      color: #FFF;
      font-size: 10px;
      padding: 2px 4px;
      text-transform: uppercase;
    }
  }
}
  .tags--contained {
    border-top: 1px dotted #DDD;
    border-bottom: 1px dotted #DDD;
  }

.sprite {
  background: transparent url('../img/icons-sprite_x2.png') center 0 no-repeat;
  background-size: 32px;
  display: inline-block;
  height: 32px;
  width: 32px;
}
  .sprite--d-chev {
    background-position: center -5796px;
  }

// Utility
//

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
