// main.scss
//

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
  // -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
}

// PAGE
//
.page {
  opacity: 0;
  transition: opacity 150ms;
  margin: 0 auto;
  max-width: 320px;
}
.page--rendered {
  opacity: 1;
}

// Misc
//
.flat-ui {
  display: block;
}

// Utility
//

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
