// main.scss
//

$brand: #CC0101;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  border: none;
  line-height: 1;
  padding: 0;
}

// PAGE
//

.page {
  opacity: 0;
  margin: 0 auto;
  max-width: 320px;
}
.page--rendered {
  opacity: 1;
}
.secondary-nav,
.section-title {
  font-size: 20px;
  margin-right: 8px;
  margin-left: 8px;
}
.secondary-nav {
  border-bottom: 1px solid #EDEDED;
  margin-top: 12px;
  margin-bottom: 12px;

  a {
    position: relative;
    padding-bottom: 11px; // + 1px bdb
  }
  .sprite--d-chev {
    position: absolute;
    top: -14px; right: -2px;
  }
}
.section-title {}

// Stream
.stream {
  padding-top: 32px;
}
  .stream__header {
    background-color: #EEEEED;

    p {
      margin: 0 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  // Show New updates
  .stream__snu {
    display: block;
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: center;

    span {
      color: #CB1417;
      font-size: 15px;
      font-weight: bold;
      opacity: 0;
    }
  }
    .stream__snu--visible {

      span {
        opacity: 1;
      }
    }
  .stream__unit {
    background-color: #FFF;
    padding: 24px 16px 0;
    position: relative;
    transition: background-color 1s linear;

    &[data-unit="01"],
    &[data-unit="02"],
    &[data-unit="03"] {}

    .unit__share {
      position: absolute;
        top: 24px; right: 16px;
    }
      .sprite--share {
        background-position: 9px -3005px;
      }
    time {
      color: #616160;
      display: block;
      font-size: 15px;
      margin-bottom: 4px;
    }
    h2 {
      font-size: 20px;
      letter-spacing: -1px;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      color: #767676;
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 8px;
    }
    img {
      display: block;
    }
  }
  .stream__unit--fresh {
    // #FFC, GMail; #FFDF43, Sport
    background-color: rgba(255, 223, 67, 0.15);
  }

  .stream__day-sep {
    border-bottom: 1px solid #EEE;
    color: #AAA;
    height: 8px;
    font-size: 14px;
    // margin-bottom: 20px;
    position: relative;
    text-align: center;

    time {
      background-color: #FFF;
      display: inline-block;
      position: absolute;
        right: 50%; bottom: -11px;
      padding-right: 8px;
      padding-left: 8px;
      transform: translateX(50%);
      z-index: 10;
    }
  }

  // Show More (Updates)
  .sm-wrap {
    max-height: 1568px;
    overflow: hidden;
  }
    .sm-wrap--after-snu {
      max-height: 384px;
    }
    .sm-wrap--show-all {
      max-height: 100%;
    }
  .smu {
    background-color: #499243;
    border-right: 1px solid #377238;
    border-bottom: 2px solid #295531;
    color: #FFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }

// Pop-in
.pop-in {
  background-color: #CB1417;
  border-right: 1px solid #7D0E10;
  border-bottom: 2px solid #7D0E10;
  color: #FFF;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 16px;
  position: fixed;
    top: 24px; right: 50%;
  transform: translateX(50%) translateY(-64px);
  transition: transform 150ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  width: 164px; // Force width
  z-index: 10;
}
  .pop-in--visible {
    transform: translateX(50%) translateY(0);
    transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.new-updates {
  overflow: hidden;
  max-height: 0;
}
  .new-updates--visible {
    max-height: 100%;
  }

// Misc
//
.flat-ui {
  display: block;
}

// Short Form article
.sf-01 {}

// London article
.ld-04 {
  margin-top: 24px;
}

// London video
.ldn-07 {
  margin-right: 16px;
  margin-left: 16px;
  position: relative;

  video {
    display: block;
  }
}
  .ldn-07-play {
    background-color: red;
    position: absolute;
      bottom: 0; left: 0;
  }

// Objects
//

.hr {
  background-color: #EDEDED;
  height: 1px;
  margin-top: 24px;
}
.nav {
  @extend .clearfix;
  list-style: none;
  padding-left: 0;

  > li {
    float: left;
    width: 100%;
  }
  a {
    display: block;
  }
}
.nav--tags {
  border-top: 1px dotted #DDD;
  padding: 8px;

  li {
    color: #767676;
    display: inline;
    font-size: 14px;
    width: auto;

    // First tag
    &:nth-child(2) {
      font-weight: bold;
    }

    // Second tag onwards
    &:nth-child(n+3) {

      a::before {
        color: #767676;
        content: "•";
        display: inline;
        margin-right: 8px;
      }
    }
  }
  a {
    color: $brand;
    padding: 0 4px;

    strong {
      background-color: $brand;
      color: #FFF;
      font-size: 10px;
      padding: 2px 4px;
      text-transform: uppercase;
    }
  }
}
  .tags--contained {
    border-top: 1px dotted #DDD;
    border-bottom: 1px dotted #DDD;
  }

.sprite {
  background-image: url('../img/icons-sprite_x2.png');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 32px;
  display: inline-block;
  height: 32px;
  width: 32px;
}
  .sprite--play {
    background-position: center -7003px;
  }
  .sprite--share {
    background-position: center -3000px;
  }
  .sprite--d-chev {
    background-position: center -5796px;
  }

// Utility
//

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
